h1{
       color: rgb(165, 42, 58);
       text-align: center;
       }
    img{border-radius: 50%;
    }
    #Header{
       color: rgb(255, 136, 0);

    }
    .wrapper{
       color: blueviolet;

    }

    
    
    

